{% extends 'base.html' %}

{% block title %} Помощь по поиску {% endblock %}

{% set active = 'help' %}

{% block content %}
      <p>
        На данный момент поддерживается четыре формата запросов и, соответственно, четыре режима поиска:
      </p>
      <ol>
        <li>
          Введите любое слово (без кавычек), чтобы найти употребления всех словоформ, которые соответствуют данной лексеме.
          <ul>
            <li>
              <code>дом</code> &mdash; найдёт предложения, в которых есть словоформы "дом", "дома", "домами" и др.
            </li>
            <li>
              <code>дому</code> &mdash; найдёт те же самые предложения (то есть поиск осуществляется по лемме).
            </li>
          </ul>
        </li>
        <li>
          Введите слово в "двойных" кавычках, чтобы найти предложения с употреблением только заданной словоформы.
          <ul>
            <li>
              <code>"дому"</code> &mdash; найдёт все предложения, в которых употреблена словоформа "дому".
            </li>
            <li>
              <code>"пошёл"</code> &mdash; найдёт предложения с употреблением словоформы "пошёл".
            </li>
          </ul>
        </li>
        <li>
          Введите частиречный тег (в формате Universal Dependencies), чтобы найти все предложения с употреблением слов заданной части речи. Доступны следующие теги:
          <ul>
            <li>
              <code>NOUN</code> &mdash; существительное;
            </li>
            <li>
              <code>ADJ</code> &mdash; прилагательное;
            </li>
            <li>
              <code>VERB</code> &mdash; глагол;
            </li>
            <li>
              <code>ADV</code> &mdash; наречие;
            </li>
            <li>
              <code>PROPN</code> &mdash; имя собственное;
            </li>
            <li>
              <code>PRON</code> &mdash; местоимение (любой разряд, кроме детерминативов);
            </li>
            <li>
              <code>DET</code> &mdash; определительное местоимение ("этот", "тот" и другие);
            </li>
            <li>
              <code>NUM</code> &mdash; числительное (в т.ч. и цифровая запись);
            </li>
            <li>
              <code>CCONJ</code> &mdash; сочинительный союз;
            </li>
            <li>
              <code>SCONJ</code> &mdash; подчинительный союз;
            </li>
            <li>
              <code>ADP</code> &mdash; предлог;
            </li>
            <li>
              <code>PART</code> &mdash; частица;
            </li>
            <li>
              <code>AUX</code> &mdash; вспомогательный глагол (например, формы глагола "быть").
            </li>
          </ul>
        </li>
        <li>
          Введите <code>лемма+POS-тег</code>, чтобы найти предложения с употреблениями всех словоформ, которые соответствуют заданной лексеме с заданной частью речи.
          <ul>
            <li>
              <code>и+CCONJ</code> &mdash; найдёт все предложения, в котором употреблен сочинительный союз "и".
            </li>
            <li>
              <code>и+PART</code> &mdash; найдёт все предложения, в которых употреблена аддитивная частица "и".
            </li>
          </ul>
        </li>
      </ol>
      <p>
        Корпус также поддерживает поиск N-грамм любой длины &mdash; для этого в поисковом запросе нужно написать несколько токенов через пробел. Каждый токен может задаваться любым из четырёх способов, описанных выше, их можно комбинировать. Например, чтобы найти все сочетания "прилагательные + существительное дом в любой форме",, можно написать: <code>ADJ дом</code> &mdash; найдёт "большой дом", "маленькому дому" и другие.
      </p>

{% endblock %}
